/*Allt*/
* {
  border-radius: 15px;
  padding: 10px;
}
body {
  display: grid;
  background: rgb(65, 27, 27);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.container {
  width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, min-content);
  gap: 20px;
}
/*Home*/
#home {
  background-color: rgb(51, 14, 14);
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  gap: 20px;
}
#home ul {
  grid-column: 4/5;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#home a {
  display: block;
  padding: 45px;
  gap: 5px;
  text-decoration: none;
  font-size: 40px;
}
nav ul a {
  color: rgb(216, 147, 147);
  transition: 0.5s;
}
nav ul a:hover {
  color: rgb(255, 192, 192);
}

/*Header*/
.header {
  background-color: rgb(32, 29, 54);
  grid-column: 1/5;
}
.header h2 {
  color: rgb(155, 162, 226);
  font-size: 30px;
  margin: 0;
  text-align: center;
}
.header h4 {
  color: rgb(155, 162, 226);
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}
/*Popular*/
.popular {
  background-color: rgb(51, 14, 14);
}
.popular h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(216, 147, 147);
  margin-bottom: 15px;
}
.popular img {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  padding: 0;
}
.latest {
  background-color: rgb(51, 14, 14);
  grid-column: 2/4;
}
.latest h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: rgb(216, 147, 147);
}
.latest img {
  width: 70%;
  margin-left: 100px;
  margin-top: 15px;
}
/*javascript*/
.btn {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(216, 147, 147);
  cursor: pointer;
  background-color: rgb(32, 8, 8);
  text-align: center;
  width: 100px;
  margin: 10px;
  margin-left: 30%;
  padding: 10px 20px;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(95, 43, 43);
  color: white;
}
.wishinfo {
  text-align: center;
}
.hidden {
  display: none;
  padding: 0;
}
.wishinfo p {
  color: rgb(216, 147, 147);
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.btn2 {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(216, 147, 147);
  cursor: pointer;
  background-color: rgb(32, 8, 8);
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  transition: 0.5s;
  text-align: center;
}
.btn2:hover {
  background-color: rgb(95, 43, 43);
  color: white;
}
.disinfo {
  text-align: center;
}
.disinfo p {
  color: rgb(216, 147, 147);
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.btn3 {
  font-size: 25px;
  font-weight: bolder;
  color: rgb(216, 147, 147);
  cursor: pointer;
  background-color: rgb(32, 8, 8);
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  transition: 0.5s;
  text-align: center;
}
.btn3:hover {
  background-color: rgb(95, 43, 43);
  color: white;
}
.headdoor {
  text-align: center;
}
.headdoor p {
  color: rgb(216, 147, 147);
  padding: 0;
  margin: 0;
  font-size: 15px;
}
