body {
    display: grid;
    background: rgb(55, 71, 65);
    
    font-family: sans-serif;
  }
.homeicon {
    
}
  
  @media screen and (max-width: 570px) {
    body{
      background-color: red;
      display:flex;
      align-items:flex-start;
    }
    nav ul {
      display: grid;
      width:100%;
      grid-column: 1/5;
      list-style: none;
      padding: 0;
      grid-template-columns:1fr;
      grid-template-rows: repeat(7, 1fr);
      gap: 30px;  
    }
  }