body {
  display: grid;
  background: rgb(55, 71, 65);
  justify-content: center;
  font-family: sans-serif;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 600px 300px 400px;
  gap: 10px;
}

#home {
  background-color: pink;
  grid-column: 1/5;
  display: flex;
  text-align: center;
  justify-content: center;
  border:none;
  border-radius:30px;
}
nav ul a {
  text-decoration: none;
  color: rgb(43, 194, 194);
}
nav ul {
  display: grid;
  grid-column: 1/5;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
}
nav ul a:hover {
  color: blueviolet;
}
#toggleHomeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50px; 
  height: 50px;
  white-space: nowrap;
}
.button-container {
  grid-column: 1/5;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  padding:20px;
}
#toggleHomeButton:hover {
  background-color: #ffaafb;
}
@media screen and (max-width: 570px) {
  body{
    background-color: red;
    display:flex;
    align-items:flex-start;
  }
  nav ul {
    display: grid;
    width:100%;
    grid-column: 1/5;
    list-style: none;
    padding: 0;
    grid-template-columns:1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 30px;  
  }
}